* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 9px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: rgba(0, 0, 0, .87);
    font-weight: 400;
    text-decoration: none;
    margin: 18px;
    margin-top: 10px;
    box-shadow: 0 0 0 0;
    outline: 0;
}

.google-div {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: -100px;
}

#google {
    margin-bottom: 20px;
    width: 170px;
    height: 60px;
}

#google-search {
    display: flex;
    height: 25px;
    width: 31vw;
    background-color: #fff;
    border-radius: 1.5rem;
    border: 1px solid #dfe1e5;
    font-family: inherit;
    font-size: inherit;  
    height: 30px;  
    outline: 0; 
    justify-content: start;
    align-items: center;
    padding-left: 10px;
}

#button-search {
    outline: none;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

#google-text, #google-text::after, #google-text::before {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    width: 28vw;
    
}
