* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 9px;
}

.href {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.img, .adv {
    color: rgba(0, 0, 0, .87);
    font-weight: 400;
    text-decoration: none;
    margin: 8px;
    margin-top: 10px;
    cursor: pointer;
}

.adv {
    padding-right: 3px;
    cursor: pointer;
}

.google-div {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: -80px;
}

#google {
    margin-bottom: 20px;
    width: 170px;
    height: 60px;
}

#google-search {
    display: flex;
    height: 25px;
    width: 31vw;
    background-color: #fff;
    border-radius: 1.5rem;
    border: 1px solid #dfe1e5;
    font-family: inherit;
    font-size: inherit;  
    height: 30px;  
    outline: 0; 
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    
}

#google-text, #google-text::after, #google-text::before {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    width: 28vw;
    
}

.buttons {
    display: inline-flex;
    margin-top: 18px;
    gap: 15px;
    
}

#submit, #harvard {
    padding: 8px;
    cursor: pointer;
    border: none;
    outline: 0;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    text-align: center;
}

#submit::after, #harvard::after {
    border: #ffffff;
    outline: 0;
    box-shadow: #ebebeb;
}

#submit:hover, #harvard:hover {
    box-shadow: 0 1px 1px rgb(255, 255, 255);
    background-color: #ededed;
    border: 1px solid #cfcfcf;
    color: #000000;
}

@media (max-width: 785px) {
    #google-text, #google-text::after, #google-text::before {
        border: 1px solid rgb(255, 255, 255);
        padding: 10px;
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
        width: 25vw;  
    }
}

@media (max-width: 395px) {
    #google-text, #google-text::after, #google-text::before {
        border: 1px solid rgb(255, 255, 255);
        padding: 10px;
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
        width: 20vw;  
    }
}




