* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 9px;
}

.href {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.img, .adv {
    color: rgba(0, 0, 0, .87);
    font-weight: 400;
    text-decoration: none;
    margin: 8px;
    margin-top: 10px;
}

.adv {
    padding-right: 3px;
}

.google-div {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: relative;
    margin-top: -150px;
}

#google {
    margin-bottom: 35px;
    width: 160px;
    height: 55px;
}

#google-text, #google-text::after, #google-text::before {
    height: 25px;
    width: 33vw;
    background-color: #fff;
    border-radius: 1.5rem;
    border: 1px solid #dfe1e5;
    border-radius: 22px;
    font-family: inherit;
    font-size: inherit;  
    height: 30px;  
    outline: 0; 
    padding-left: 30px;
}


#google-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    top: -20px;
    left: -193px;
}



#submit {
    background-color: rgb(248, 249, 250);
    border-radius: 2px;
    color: rgb(60, 64, 67);
    border: 1px solid rgb(112, 116, 120);
    cursor: pointer;
    font-size: 10px;
}

#harvard{
    background-color: rgb(248, 249, 250);
    border-radius: 2px;
    color: rgb(60, 64, 67);
    border: 1px solid rgb(112, 116, 120);
    cursor: pointer;
    font-size: 10px;
}
